[Unit]
Description=Carwash PyQt5 GUI
After=network.target graphical.target

[Service]
WorkingDirectory=/var/www/carwash
ExecStart=/var/www/carwash/main.py
Restart=on-failure
RestartSec=5s
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
User=pi
Group=pi

[Install]
WantedBy=graphical.target
